/* Обнуление стилей браузера, которые по-умолчанию */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* стили для #root из index.html */
#root {
    display: flex;
    justify-content: center;
}

/* стили для .App из App.jsx */
.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}


/* react-transition-group */
/* От плагина для плавной анимации */
.remove-btn {
    margin-right: 0.5rem;
  }
  
  .post-enter {
    transform: translateX(-350px);
  }
  /* анимация в момент добавления (подъезжает) */
  .post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
  }
  .item-exit {
    opacity: 1;
  }
  /* анимация в момент удаления (отъезжает) */
  .post-exit-active {
    transform: translateX(-350px);
    transition: all 300ms ease-in;
  }
  


  /*! стили для "кнопок" нумерации страниц (<span>)  */
  .page__wrapper {
    margin-top: 30px;
    display: flex;
  }

  .page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
  }

/*! текущая (активная) кнопка-страница */
  .page__current {
    border: 2px solid orange;
    font-weight: bold;
  }